extends base
include _myReviewCard

block content
  section.section-header-sm
    h1.heading-primary.ma-bt-md.bg-billing My billings
  main.main
    .masonry-grid
        each booking in bookings
            div.billing-container
                .card
                    div.bg-transparent 
                    img.billing-bg(src=`/img/tours/${booking.tour.imageCover}`, alt=`${booking.tour.name}`)
                    div.billing-info
                        div.billing-info-main
                            h1.ma-bt-sm #{booking.tour.name}
                            p.card__text= booking.tour.summary
                        div.billing-info-grid
                            div.billing-info-sub
                                h4.billing-info-sub-title Booked the 
                                h4= booking.createdAt.toLocaleString('en-us', {month: 'long', year:"numeric"})
                            div.billing-info-sub
                                h4.billing-info-sub-title Price 
                                h4  #{booking.price} €
                            div.billing-info-sub
                                h4.billing-info-sub-title Paid 
                                if booking.paid
                                     svg.card__icon
                                        use(xlink:href='/img/icons.svg#icon-check-circle')
                                else 
                                     svg.card__icon.red
                                        use(xlink:href='/img/icons.svg#icon-x-circle')



                    //- .review-header-img
                    //-     img.card__picture-img(src=`/img/tours/${booking.tour.imageCover}`, alt=`${booking.tour.name}`)
                    //- .card__details
                    //-     h4.card__sub-heading= booking.tour.name




                    //-     h4.card__sub-heading= `${review.tour.difficulty} ${review.tour.duration}-day tour`
                    //-     p.card__text= review.tour.summary
                    //-     .card__data
                    //-         svg.card__icon
                    //-             use(xlink:href='/img/icons.svg#icon-map-pin')
                    //-         span= review.tour.startLocation.description
                    //-     .card__data
                    //-         svg.card__icon
                    //-             use(xlink:href='/img/icons.svg#icon-calendar')
                    //-         span= review.tour.startDates[0].toLocaleString('en-us', {month: 'long', year:"numeric"})
                    //-     .card__data
                    //-         svg.card__icon
                    //-             use(xlink:href='/img/icons.svg#icon-flag')
                    //-         span=`${review.tour.locations.length} stops`
                    //-     .card__data
                    //-         svg.card__icon
                    //-             use(xlink:href='/img/icons.svg#icon-user')
                    //-         span= `${review.tour.maxGroupSize} people`
                    //- .card__footer
                    //-     p
                    //-         span.card__footer-value= `$${review.tour.price}`
                    //-         | 
                    //-         span.card__footer-text per person
                    //-     p.card__ratings
                    //-         span.card__footer-value= review.tour.ratingsAverage
                    //-         | 
                    //-         span.card__footer-text= `rating (${review.tour.ratingsQuantity})`
