extends base

block content
    section.section-header-sm
        h1.heading-primary.ma-bt-md.bg-tours Bookings Manager
    main.main
        .form--management-bookings.ma-top-sm
            each booking in bookings
                .card-management-bookings.ma-bt-sm
                    div.dflex
                        img.review--management-miniature(src=`./img/users/${booking.user.photo}`, alt=`booking ${booking.user.name} photo`)
                        h6.description__text.subtext= booking.user.name 
                    
                    h6.description__text.subtext 
                        span.wei700.green email: 
                        |  #{booking.user.email}
                    h6.description__text.subtext 
                        span.wei700.green tour booked: 
                        |  #{booking.tour.name }
                    h6.description__text.subtext 
                        span.wei700.green Priced: 
                        |  #{booking.price}€
                    h6.description__text.subtext 
                        span.wei700.green Paid: 
                        |  #{booking.paid  }
