extends base

mixin coordinateInput(data, idx)
    .form__group.two-col.border-bot(id=`loc-${idx}`, data-tour-location)
        div 
            label.form__label.form__label-tour(for=`pos-${idx}`) Longitude
            input.form__input.form__input-tour(type="number", id=`pos-${idx}` ,name=`pos-${idx}`, value=`${data.coordinates[0]}`)
        div 
            label.form__label.form__label-tour(for=`lat-${idx}`) Latitude
            input.form__input.form__input-tour(type="number",id=`lat-${idx}` ,name=`lat-${idx}`, value=`${data.coordinates[1]}`)
        div
            label.form__label.form__label-tour(for=`desciption-${idx}`) Description
            input.form__input.form__input-tour(type="text",  id=`desciption-${idx}`,name=`desciption-${idx}`, value=`${data.description}`)
        div 
            label.form__label.form__label-tour(for=`days-${idx}`) Number of days
            input.form__input.form__input-tour(type="number", id=`days-${idx}` ,name=`days-${idx}`, value=`${data.day}`)
        button(type="button", class="btn-crud btn-loc removeLocation", id="removeLocation" , data-idxloc=idx) Remove Location   




block content 
    section.section-header-sm
        h1.heading-primary.ma-bt-md.bg-tours Editing #{tour.name}
    main.main 
        form.form.form-edit-tour(data-tour=`${JSON.stringify({ id:tour.id, startDates:tour.startDates, calendareData: calendareData, locations: tour.locations})}`)
            div.form-tour-flex
                .form__group
                    label.form__label.form__label-tour(for='mainTitle') Tour name
                    input#mainTitle.form__input.form__input-tour(type="text", name="mainTitle", value=`${tour.name}`, required)
                .form__group.ma-bt-md
                    label.form__label.form__label-tour(for='duration') Tour duration (in days)
                    input#duration.form__input.form__input-tour(type="number", name="duration", min="2", max="21", value=`${tour.duration}`, required)
                .form__group
                    label.form__label.form__label-tour(for='difficulty') Tour difficulty
                    select#difficulty.form__input.form__input-tour(type="text", name="difficulty", required)
                        option(value="easy", selected=tour.difficulty === 'easy') Easy
                        option(value="medium", selected=tour.difficulty === 'medium') Medium
                        option(value="difficult", selected=tour.difficulty === 'difficult') Difficult
            div.form-tour-flex
                .form__group.ma-bt-md
                    label.form__label.form__label-tour(for='price') Price ( in € )
                    input#price.form__input.form__input-tour(type="number", name="price", min="60", max="10000", value=`${tour.price}`, required)
                .form__group.ma-bt-md
                    label.form__label.form__label-tour(for='groupeSize') Groupe size 
                    input#groupeSize.form__input.form__input-tour(type="number", name="groupeSize", min="3", max="25", value=`${tour.maxGroupSize}`,required)
                .form__group
                    label.form__label.form__label-tour(for='coverImg') Tour Cover image
                    input#coverImg.form__input.form__input-tour(type="text", name="coverImg", value=`${tour.imageCover}`)
                

            .form__group
                label.form__label.form__label-tour(for='summary') Small summary
                textarea#summary.form__input.form__textarea(rows="2" cols="50", maxlength="100", required) #{tour.summary}
            .form__group
                label.form__label.form__label-tour(for='description') Full description
                textarea#description.form__input.form__textarea(rows="5" cols="50", maxlength="500", required) #{tour.description}
            
            // add - remove new images, new dates
            div.form-tour-flex
                each img, idx in tour.images 
                    .form__group
                        label.form__label.form__label-tour(for=`image${idx}`) Image n° #{idx + 1}
                        input.form__input.form__input-tour(type="text", id=`image${idx}` , name="coverImg", value=`${img}`, data-tour-img)
            
            .form__group
                h1.form__label.form__label-tour Select the guides
                .form-tour-guides
                    each guide in guides   
                        div.guide-container
                            input.guide-checkbox.checkbox(type="checkbox", data-tour-guide, id=`${guide._id}`, name=`${guide._id}`, checked=guideIds.includes(guide._id.toString()))
                            label.form__label-tour(for=`${guide._id }`)= guide.name
                            img.form__guide-photo(src=`/img/users/${guide.photo}`, alt='User photo')

            h1.form__label-tour Tour Starting dates
            div.form__square.ma-bt-md
                div.form-tour-dates.ma-bt-sm
                    each date, idx in tour.startDates 
                        div.form__group
                            label.form__label.form__label-tour(for=`startDates-${idx}`) Starting Date:
                            div.form__crud
                                input.form__input-dates(data-tour-date , type="datetime-local" id=`startDates-${idx}` min=calendareData.minDateTime max=calendareData.maxDateTime value=calendareData.convertToDateTimeLocal(date), required )
                                button(type="button" class="removeDate btn-crud" data-idx=idx) Remove
                button(type="button", class="btn-crud", id="addDate") Add Date   

            h1.form__label-tour Starting position:
            .form__group.two-col.ma-bt-lg.border-bot(id="startingLocation", data-tour-startingLoc)
                div 
                    label.form__label.form__label-tour(for='StartingPosLong') Longitude
                    input#StartingPosLong.form__input.form__input-tour(type="number", name="StartingPosLong", value=`${tour.startLocation.coordinates[0]}`, required)
                div 
                    label.form__label.form__label-tour(for='StartingPosLat') Latitude
                    input#StartingPosLat.form__input.form__input-tour(type="number", name="StartingPosLat", value=`${tour.startLocation.coordinates[1]}`,required)
                div 
                    label.form__label.form__label-tour(for='StartingPosAddrs') Address 
                    input#StartingPosAddrs.form__input.form__input-tour(type="text", name="StartingPosAddrs", value=`${tour.startLocation.address}`, required)
                div
                    label.form__label.form__label-tour(for='StartingPosdesc') Description
                    input#StartingPosdesc.form__input.form__input-tour(type="text", name="StartingPosdesc", value=`${tour.startLocation.description}`, required)
            div.form-tour-locations.ma-bt-md
                each location, idx in tour.locations
                    +coordinateInput(location, idx)
            button(type="button" class="btn-crud " id="addLocation") Add new Location   




            .form__group.right.review-actions
                button.btn.btn--green.btn-save-edit Save Edit
                button(data-id=`${JSON.stringify(tour.id)}`).btn.btn-reviews.btn-reviews-delete
                    span delete 
                    svg.heading-box__icon.btn-reviews-icon
                        use(xlink:href=`/img/icons.svg#icon-delete`)
